.footer__top {
  padding: 6rem 0;
}

.footer__bottom {
  padding: 1.5rem 0;
}

.footer__block .list {
  list-style: none;
  padding-left: 0;
}

.footer__block li {
  padding: 0.5rem 0;
}

.footer__copyright {
  display: block;
  text-align: center;
}

.header {
  position: relative;
  background-color: #ffffff;
}

.header__nav {
  padding: 1rem 0;
}

.header__logo {
  display: block;
  text-align: center;
  width: 30%;
  max-width: 15rem;
  margin: 1.5rem auto;
}

.header__search {
  display: block;
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  .header__nav {
    display: block;
    padding: 1rem 0;
  }
  .header__nav::after {
    display: block;
    content: "";
    clear: both;
  }
  .header__logo {
    float: left;
    text-align: left;
    padding-right: 1.5rem;
    margin: 1.5rem auto 1.5rem 4.5rem;
  }
  .header__search {
    float: left;
    margin: 1.5rem 0;
    width: 70%;
  }
  .header__link {
    padding-top: 1.2rem;
    float: left;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .header {
    border-bottom: 1px solid #cccccc;
  }
  .header__logo {
    display: block;
    max-width: 15rem;
  }
  .header__nav {
    display: -ms-flexbox;
    display: flex;
  }
  .header__search {
    width: 45%;
  }
  .header__link {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  .header__nav {
    display: -ms-flexbox;
    display: flex;
  }
  .header__search {
    width: 45%;
  }
  .header__link {
    width: 45%;
  }
}

.font-icon i {
  font-size: 56px;
}

.style-guide .title {
  position: relative;
}

.style-guide .title:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #cccccc;
}

.style-guide .title span {
  text-transform: uppercase;
  font-size: 2.4rem;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  padding-right: 1.5rem;
}

.style-guide .typography-line {
  padding-left: 180px;
  position: relative;
  width: 100%;
}

.style-guide .typography-line .note {
  bottom: 1.5rem;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  left: 0;
  margin-left: 2rem;
  position: absolute;
  width: 26rem;
}

.style-guide .ui-color {
  width: 18rem;
  height: 18rem;
  text-align: right;
  padding: 3rem 2rem;
}

.style-guide .ui-color .color-name {
  font-size: 16px;
}

.style-guide .ui-color .color-code {
  font-size: 16px;
  text-transform: uppercase;
}

.highlight {
  display: block;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #f1f8fb;
}

.highlight code.css span {
  display: block;
  color: #C3002F;
  padding-left: 15px;
}

.highlight code.html span {
  display: block;
  color: #C3002F;
  padding-left: 15px;
}

.highlight code.html span span {
  padding-left: 15px;
}

.highlight code.html span:first-child, .highlight code.html span:last-child {
  padding-left: 0;
}

.highlight code.html span:first-child span, .highlight code.html span:last-child span {
  padding-left: 15px;
}

.white {
  background-color: #ffffff;
  color: #24334A;
}

.white span, .white a {
  color: #24334A;
}

.color-white {
  background-color: #fefefe;
  color: #24334A;
}

.color-white span, .color-white a {
  color: #24334A;
}

.color-white-2 {
  background-color: #cccccc;
  color: #24334A;
}

.color-white-2 span, .color-white-2 a {
  color: #24334A;
}

.color-black {
  background-color: #111111;
  color: #ffffff;
}

.color-black span, .color-black a {
  color: #ffffff;
}

.color-black-2 {
  background-color: #6a6a6a;
  color: #ffffff;
}

.color-black-2 span, .color-black-2 a {
  color: #ffffff;
}

.color-black-3 {
  background-color: #232323;
  color: #ffffff;
}

.color-black-3 span, .color-black-3 a {
  color: #ffffff;
}

.color-red {
  background-color: #C3002F;
  color: #ffffff;
}

.color-red span, .color-red a {
  color: #ffffff;
}

.blue-1 {
  background-color: #b9dfc6;
  color: #ffffff;
}

.blue-1 span, .blue-1 a {
  color: #ffffff;
}

.green-1 {
  background-color: #6bd098;
  color: #ffffff;
}

.green-1 span, .green-1 a {
  color: #ffffff;
}

.teal-1 {
  background-color: #51bcda;
  color: #ffffff;
}

.teal-1 span, .teal-1 a {
  color: #ffffff;
}

.orange-1 {
  background-color: #fbc658;
  color: #ffffff;
}

.orange-1 span, .orange-1 a {
  color: #ffffff;
}

.red-1 {
  background-color: #f5593d;
  color: #ffffff;
}

.red-1 span, .red-1 a {
  color: #ffffff;
}

.gray-dark-1 {
  background-color: #343a40;
  color: #ffffff;
}

.gray-dark-1 span, .gray-dark-1 a {
  color: #ffffff;
}

.dark-light {
  background-color: #24334A;
  color: #ffffff;
}

.dark-light span, .dark-light a {
  color: #ffffff;
}

.dark-light-1 {
  background-color: #68768c;
  color: #ffffff;
}

.dark-light-1 span, .dark-light-1 a {
  color: #ffffff;
}

.green-light {
  background-color: #43c8c0;
  color: #ffffff;
}

.green-light span, .green-light a {
  color: #ffffff;
}

.red-light {
  background-color: #f33155;
  color: #ffffff;
}

.red-light span, .red-light a {
  color: #ffffff;
}

.grey-light {
  background-color: #eff3f6;
  color: #24334A;
}

.grey-light span, .grey-light a {
  color: #24334A;
}

.blue-light {
  background-color: #3093e8;
  color: #ffffff;
}

.blue-light span, .blue-light a {
  color: #ffffff;
}

.pink-light {
  background-color: #ffa2ad;
  color: #ffffff;
}

.pink-light span, .pink-light a {
  color: #ffffff;
}

.yellow-light {
  background-color: #ffc857;
  color: #ffffff;
}

.yellow-light span, .yellow-light a {
  color: #ffffff;
}

.purple-light {
  background-color: #725ac1;
  color: #ffffff;
}

.purple-light span, .purple-light a {
  color: #ffffff;
}

.grey-light-1 {
  background-color: #f1f8fb;
  color: #24334A;
}

.grey-light-1 span, .grey-light-1 a {
  color: #24334A;
}

.img-details {
  min-height: 50px;
  padding: 0 0.4rem 0.5rem;
}

.img-details .author {
  margin-left: 10px;
  margin-top: -21px;
  width: 40px;
}

.img-rounded {
  border-radius: 1.2rem;
  transition: opacity 0.5s ease 0s;
  max-width: 100%;
}

.img-circle {
  background-color: #FFFFFF;
  margin-bottom: 1rem;
  padding: 0.4rem;
  border-radius: 50%;
  max-width: 100%;
}

.img-thumbnail {
  border: 0 none;
  border-radius: 1.2rem;
  box-shadow: 0 0.1 0.2rem rgba(164, 158, 147, 0.6);
  margin-bottom: 1rem;
}

.roboto-light {
  font-family: "Roboto", Verdana, Arial, sans-serif;
  font-weight: lighter;
}

.roboto-italic {
  font-family: "Roboto", Verdana, Arial, sans-serif;
  font-style: italic;
}

.roboto-italic--bold {
  font-style: italic;
  font-weight: bold;
}

.roboto-italic--light {
  font-style: italic;
  font-weight: lighter;
}

.roboto-bold {
  font-family: "Roboto", Verdana, Arial, sans-serif;
  font-weight: bold;
}

.editor ul > li {
  font-size: 16px;
}

.form-group label {
  margin-left: 1.5rem;
}

.form-group.has-danger .form-control-feedback {
  padding-left: 1.8rem;
}

.form-group.has-success:after {
  font-family: 'ui-icons';
  content: "\e984";
  display: inline-block;
  position: absolute;
  right: 3.3rem;
  top: 0.3rem;
  color: #43c8c0;
  font-size: 2.5rem;
}

.form-group .form-control, .input-group .form-control {
  border-radius: 5rem;
}

.form-group .form-control:focus, .form-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:active {
  border-color: #f5593d;
}

.form-control {
  font-size: 14px;
}

.input-group .input-group-addon {
  padding: 0.5rem 1.8rem;
}

.input-group.input-group-focus .input-group__left:hover, .input-group.input-group-focus .input-group__left:focus {
  border-color: #f5593d;
}

.input-group .ui-icon {
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1;
  background-color: #C3002F;
  color: #ffffff;
  border-radius: 50%;
}

.input-group__left {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.input-group__left .input-group-addon {
  font-size: 14px;
  font-weight: bold;
  border-top-left-radius: 5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5rem;
  background-color: transparent;
}

.input-group__left .form-control {
  border-left-width: 0;
  padding-left: 0;
}

.input-group__right {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.input-group__right .input-group-addon {
  font-size: 14px;
  font-weight: bold;
  border-top-left-radius: 0;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 0;
  background-color: transparent;
}

.input-group__right .form-control {
  border-right-width: 0;
  padding-right: 0;
}

.checkbox label, .radio label {
  min-height: 2rem;
  margin-bottom: 0;
  cursor: pointer;
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.checkbox label {
  padding-left: 0;
  color: #6a6a6a;
}

.checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}

.checkbox input[type=checkbox]:checked + .checkbox-ui:before {
  animation: rippleOn 500ms;
  -webkit-animation: rippleOn 500ms;
  -moz-animation: rippleOn 500ms;
  -o-animation: rippleOn 500ms;
  -ms-animation: rippleOn 500ms;
}

.checkbox input[type=checkbox]:checked + .checkbox-ui .checked {
  background-color: #C3002F;
}

.checkbox input[type=checkbox]:checked + .checkbox-ui .checked:before {
  color: #ffffff;
  box-shadow: 0 0 0 1rem, 1rem -1rem 0 1rem, 3.2rem 0 0 2rem, 0px 3.2rem 0 2rem, -0.5rem 0.5rem 0 1rem, 2rem -1.2rem 0 1.1rem;
  animation: checkbox-on 0.3s forwards;
  -webkit-animation: checkbox-on 0.3s forwards;
  -moz-animation: checkbox-on 0.3s forwards;
  -o-animation: checkbox-on 0.3s forwards;
  -ms-animation: checkbox-on 0.3s forwards;
}

.checkbox input[type=checkbox][disabled] ~ .checked {
  background-color: #343a40;
}

.checkbox input[type=checkbox][disabled] ~ .checkbox-ui {
  border-color: #343a40;
}

.checkbox input[type=checkbox][disabled] ~ .checkbox-ui, .checkbox input[type=checkbox][disabled] ~ .checked {
  opacity: 0.26;
}

.checkbox .checkbox-ui {
  vertical-align: middle;
  position: relative;
  top: 1px;
  padding-right: 0.5rem;
  display: inline-block;
}

.checkbox .checkbox-ui:before {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  background-color: #343a40;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0;
  top: 0;
  transform: scale3d(2.3, 2.3, 1);
  -webkit-transform: scale3d(2.3, 2.3, 1);
  -moz-transform: scale3d(2.3, 2.3, 1);
  -o-transform: scale3d(2.3, 2.3, 1);
  -ms-transform: scale3d(2.3, 2.3, 1);
}

.checkbox .checked {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px solid #343a40;
  overflow: hidden;
  z-index: 1;
  border-radius: 0.3rem;
}

.checkbox .checked:before {
  position: absolute;
  content: "";
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  display: block;
  margin-top: -0.3rem;
  margin-left: 0.7rem;
  width: 0;
  height: 0;
  background-color: #C3002F;
  box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
  animation: checkbox-off 0.3s forwards;
  -webkit-animation: checkbox-off 0.3s forwards;
  -moz-animation: checkbox-off 0.3s forwards;
  -o-animation: checkbox-off 0.3s forwards;
  -ms-animation: checkbox-off 0.3s forwards;
}

.radio {
  position: relative;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.radio label {
  min-height: 2rem;
  cursor: pointer;
  padding-left: 2.5rem;
  position: relative;
  color: #6a6a6a;
}

.radio .checked {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: #C3002F;
  -ms-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
}

.radio .checked:after {
  display: block;
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.87);
  left: -1.8rem;
  top: -1.8rem;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0;
  -ms-transform: scale3d(1.8, 1.8, 1.5);
  transform: scale3d(1.8, 1.8, 1.5);
}

.radio .circle-ui {
  border: 1px solid #343a40;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

.radio span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition-duration: 0.2s;
}

.radio input[type=radio] {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.radio input[type=radio]:checked {
  background-color: #343a40;
}

.radio input[type=radio]:checked ~ .checked {
  background-color: #C3002F;
  -ms-transform: scale3d(0.6, 0.6, 1.5);
  transform: scale3d(0.6, 0.6, 1.5);
}

.radio input[type=radio]:checked ~ .checked:after {
  animation: rippleOff 500ms;
}

.radio input[type=radio]:checked ~ .circle-ui, .radio input[type=radio]:checked ~ .checked {
  border-color: #343a40;
  opacity: 1;
}

.radio input[type=radio][disabled] {
  cursor: not-allowed;
}

.radio input[type=radio][disabled] ~ .checked {
  background-color: #343a40;
}

.radio input[type=radio][disabled] ~ .circle-ui {
  border-color: #343a40;
}

.radio input[type=radio][disabled] ~ .circle-ui, .radio input[type=radio][disabled] ~ .checked {
  opacity: 0.26;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  position: absolute;
  margin-top: 4px\9;
  margin-left: -2rem;
}

@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 1rem, 1rem -1rem 0 1rem, 3.2rem 0 0 2rem, 0px 3.2rem 0 2rem, -0.5rem 0.5rem 0 1rem, 1.5rem 2px 0 1.1rem;
  }
  50% {
    box-shadow: 0 0 0 1rem, 1rem -1rem 0 1rem, 3.2rem 0 0 2rem, 0px 3.2rem 0 2rem, -0.5rem 0.5rem 0 1rem, 2rem 2px 0 1.1rem;
  }
  100% {
    box-shadow: 0 0 0 1rem, 1rem -1rem 0 1rem, 3.2rem 0 0 2rem, 0px 3.2rem 0 2rem, -0.5rem 0.5rem 0 1rem, 2rem -1.2rem 0 1.1rem;
  }
}

@keyframes rippleOn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rippleOff {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.overlay__active {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #111111;
  opacity: 0.5;
}

.dropdown .dropdown-menu {
  background-color: #fefefe;
  border-color: #cccccc;
}

.dropdown .dropdown-menu:before, .dropdown .dropdown-menu:after {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid transparent;
  margin-left: -1rem;
  left: 50%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dropdown .dropdown-menu:before {
  border-bottom: 1rem solid #cccccc;
  bottom: 100%;
}

.dropdown .dropdown-menu:after {
  border-bottom: 1rem solid #fefefe;
  bottom: 99%;
}

.dropdown.drop-left .dropdown-menu:after {
  bottom: 99.8%;
}

@media (min-width: 576px) {
  .dropdown.drop-left .dropdown-menu:before, .dropdown.drop-left .dropdown-menu:after {
    left: 70%;
  }
}

.grid-example .row [class^=col] {
  margin-bottom: 30px;
}

.grid-example .row [class^=col] span {
  display: block;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
  width: 100%;
}

.small-gutter {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.small-gutter [class^=col] {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.showbox .loader {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.showbox .loader:before {
  content: '';
  display: block;
  padding-top: 5%;
}

.showbox .circular {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: rotate 2s linear infinite;
  -ms-transform-origin: center center;
      transform-origin: center center;
}

.showbox .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -3.5rem;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -12.4rem;
  }
}

@keyframes color {
  100%, 0% {
    stroke: #C3002F;
  }
  40% {
    stroke: #3093e8;
  }
  66% {
    stroke: #6bd098;
  }
  80%, 90% {
    stroke: #ffc857;
  }
}

.pagination .page-item .ui-icon {
  color: #111111;
  font-weight: bold;
}

.pagination .page-item.active .page-link {
  background-color: #f5593d;
  border-color: #f5593d;
  color: #ffffff;
}

.pagination .page-item .page-link {
  position: relative;
  border: 0;
  border-radius: 50%;
  transition: all .3s;
  padding: 0px 1.1rem;
  margin: 0 3px;
  min-width: 3rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  color: #111111;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
}

.tags .item-tag {
  margin: 3px 5px;
  position: relative;
  padding: 3px 12px;
  border-radius: 12px;
  color: #ffffff;
  font-size: 14px;
  vertical-align: middle;
  font-weight: normal;
  display: inline-block;
  line-height: 1.5em;
}

.tags .item-tag:hover {
  padding-right: 2.2rem;
  transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

.tags .item-tag:hover [data-role='remove'] {
  opacity: 1;
  padding-right: 0.4rem;
}

.tags .item-tag [data-role='remove'] {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 0px;
  opacity: 0;
  background-color: transparent;
  transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

.tags .item-tag [data-role='remove']:before {
  content: '\e953';
  display: inline-block;
  vertical-align: middle;
  font-family: 'ui-icons';
  padding: 0 4px;
  font-size: 10px;
}

.btn-icon {
  margin-right: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: 0;
}

.btn-icon:last-child {
  margin-right: 0;
}

.btn-icon .ui-icon {
  font-size: 2.4rem;
  line-height: 4.5rem;
}

.progress {
  margin: 1rem 0;
  background-color: #DDDDDD;
  border-radius: 3px;
  box-shadow: none;
  height: 8px;
}

.progress .progress-bar {
  height: 1rem;
  line-height: 1rem;
  color: #fff;
  background-color: transparent;
  transition: width .6s ease;
}

.progress .progress-bar-success {
  background-color: #6bd098;
}

.progress .progress-bar-info {
  background-color: #51bcda;
}

.progress .progress-bar-danger {
  background-color: #f5593d;
}

.progress .progress-bar-warning {
  background-color: #fbc658;
}

.alert {
  border-radius: 0;
  padding: 2rem 1.5rem;
}

.alert .close {
  opacity: 1;
}

.alert .ui-icon {
  color: #ffffff;
  font-size: 16px;
}

.alert .alert-link {
  padding-left: 0.5rem;
  text-decoration: underline;
}

.breadcrumb {
  border-radius: 0;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;
}

.breadcrumb .breadcrumb-item.active {
  font-size: 14px;
}

.circle {
  position: absolute;
  z-index: 0;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  -ms-transform: scale(0.5);
      transform: scale(0.5);
  -ms-transform-origin: 50%;
      transform-origin: 50%;
  pointer-events: none;
}

.circle.animate {
  opacity: 0.1;
  transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  -ms-transform: scale(3.5);
      transform: scale(3.5);
}

.header__search {
  position: relative;
  height: 4.4rem;
  border-radius: 3rem;
  border: 2px solid #cccccc;
}

.header__search .form-group {
  margin-bottom: 0;
  overflow: hidden;
}

.header__search .input-keyword {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

.header__search .btn-submit {
  margin-bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.header__search--advance .select {
  float: left;
  min-width: 7rem;
}

.header__search--advance .select .btn {
  margin-bottom: 0;
}

.header__search--advance .select .bs-caret {
  line-height: 1.3;
}

.header__search--advance .input-keyword {
  float: left;
  width: auto;
  min-width: 32rem;
}

.header__search--advance .btn-submit {
  margin-bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.select .bootstrap-select .filter-option, .select .bootstrap-select .text {
  font-size: 14px;
}

.select .bootstrap-select .dropdown-toggle {
  padding-right: 2.5rem;
  z-index: 1;
}

.select .bootstrap-select .dropdown-menu {
  min-width: 100%;
  box-sizing: border-box;
}

.select .bootstrap-select .dropdown-menu.open .dropdown-menu {
  display: block;
}

.select .bootstrap-select .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.select .bootstrap-select .dropdown-menu.inner li {
  position: relative;
}

.select .bootstrap-select .dropdown-menu.inner li a {
  display: block;
  overflow: hidden;
  clear: both;
  padding: 0.3rem 2rem;
  font-weight: 400;
  line-height: 1.42857143;
  color: #111111;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select .bootstrap-select .dropdown-menu.inner li span.text {
  display: inline-block;
}

.select .bootstrap-select select {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: .5px;
  height: 100%;
  padding: 0;
  opacity: 0;
  border: none;
}

.select .bootstrap-select .selected .check-mark {
  position: relative;
  float: right;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  z-index: 1;
  background-color: #C3002F;
}

.select .bootstrap-select .selected .check-mark:before {
  content: "";
  position: absolute;
  top: 2px;
  color: #ffffff;
  box-shadow: 0 0 0 1rem, 1rem -1rem 0 1rem, 3.2rem 0 0 2rem, 0px 3.2rem 0 2rem, -0.5rem 0.5rem 0 1rem, 2rem -1.2rem 0 1.1rem;
  display: block;
  margin-top: -0.3rem;
  margin-left: 0.7rem;
  width: 0;
  height: 0;
  background-color: #C3002F;
  animation: checkbox-on 0.3s forwards;
  -webkit-animation: checkbox-on 0.3s forwards;
  -moz-animation: checkbox-on 0.3s forwards;
  -o-animation: checkbox-on 0.3s forwards;
  -ms-animation: checkbox-on 0.3s forwards;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.toggle-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
}

.toggle-button label {
  cursor: pointer;
  color: #343a40;
}

.toggle-button label, .toggle-button input, .toggle-button .toggle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.toggle-button input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-button input[type=checkbox]:checked + .toggle {
  background-color: #C3002F;
}

.toggle-button input[type=checkbox]:checked + .toggle:after {
  left: 1.5rem;
}

.toggle-button .toggle, .toggle-button input[type=checkbox][disabled] + .toggle {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  background-color: #24334A;
  border-radius: 1.5rem;
  margin-right: 1.5rem;
  transition: background 0.3s ease;
  vertical-align: middle;
}

.toggle-button .toggle {
  text-align: left;
  margin-left: 0.5rem;
}

.toggle-button .toggle:after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border-radius: 2rem;
  position: relative;
  box-shadow: 0 1px 0.3rem 1px rgba(0, 0, 0, 0.4);
  left: -0.5rem;
  top: -0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.54);
  transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}

.header__link .nav-user, .header__link .nav-wishlist, .header__link .mini-cart {
  display: none;
}

.header__link .nav-mobile {
  display: block;
  position: relative;
  padding: 1rem 1.5rem;
}

.header__link .nav-mobile:after {
  content: "";
  position: absolute;
  right: 5%;
  top: 45%;
  display: block;
  width: 0;
  height: 0;
  border-top: 0.5rem solid;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
}

.nav-wishlist {
  margin-bottom: 1rem;
}

.nav-wishlist a {
  color: #ffffff;
  text-decoration: none;
}

.nav-wishlist .ui-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 3.2rem;
  padding-right: 0.5rem;
}

.nav-wishlist .text {
  display: inline-block;
  vertical-align: middle;
}

.nav-user {
  margin-bottom: 1rem;
}

.nav-user a {
  color: #ffffff;
  text-decoration: none;
}

.nav-user .ui-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 3.2rem;
  padding-right: 0.5rem;
}

.nav-user .text {
  display: inline-block;
  vertical-align: middle;
}

.mini-cart {
  margin-bottom: 2rem;
}

.mini-cart a {
  color: #ffffff;
  text-decoration: none;
}

.mini-cart .ui-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 3.2rem;
  padding-right: 0.5rem;
}

.mini-cart .text {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .header__link {
    display: -ms-flexbox;
    display: flex;
    padding-left: 3rem;
  }
  .header__link .text {
    max-width: 8rem;
  }
  .header__link .nav-wishlist {
    margin-bottom: 0;
    display: block;
    padding-right: 1.5rem;
    width: 33.33%;
  }
  .header__link .nav-wishlist a {
    color: #111111;
  }
  .header__link .mini-cart {
    margin-bottom: 0;
    display: block;
    padding-right: 1.5rem;
    width: 33.33%;
  }
  .header__link .mini-cart a {
    color: #111111;
  }
  .header__link .nav-user {
    margin-bottom: 0;
    display: block;
    padding-left: 1.5rem;
    width: 33.33%;
  }
  .header__link .nav-user a {
    color: #111111;
  }
  .header__link .nav-mobile {
    display: none;
  }
  .header__link.active {
    border: 0;
  }
}

.nav-user .user-menu {
  width: 18rem;
}

.nav-user .user-menu ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.nav-user .user-menu li {
  padding: 0.5rem 1.5rem;
}

.nav-user .user-menu a {
  color: #111111;
}

.mini-cart__link a, .mini-cart__product--title a {
  color: #111111;
}

.mini-cart__link a:hover, .mini-cart__link a:focus, .mini-cart__product--title a:hover, .mini-cart__product--title a:focus {
  opacity: 0.8;
}

.mini-cart .label, .mini-cart .value {
  display: inline-block;
  vertical-align: middle;
}

.mini-cart .value {
  padding-left: 0.5rem;
}

.mini-cart__container {
  left: -2rem;
  min-width: 30rem;
}

.mini-cart__number {
  display: block;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #eff3f6;
}

.mini-cart__total {
  display: block;
  text-align: right;
  padding: 1rem 1.5rem;
  border-top: 1px solid #eff3f6;
}

.mini-cart__items {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.mini-cart__item {
  padding: 1rem 1.5rem;
}

.mini-cart__picture {
  max-width: 12rem;
  display: inline-block;
  padding-right: 1.5rem;
}

.mini-cart__product {
  display: inline-block;
  vertical-align: top;
}

.mini-cart__product--title {
  color: #111111;
}

.mini-cart__buttons {
  padding: 1rem 1.5rem;
  border-top: 1px solid #eff3f6;
}

.mini-cart__buttons .btn:first-child {
  margin-right: 3rem;
}

@media (min-width: 576px) {
  .mini-cart__container {
    left: -16rem;
  }
}

.menu-mobile {
  display: block;
  position: absolute;
  top: 2.8rem;
  left: 1.5rem;
  z-index: 9999;
}

.menu-mobile__icons {
  display: inline-block;
  width: 3.5rem;
  height: 2.5rem;
  position: relative;
  z-index: 4;
  transition: .5s ease-in-out;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-mobile__icons span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #232323;
  border-radius: 1rem;
  opacity: 1;
  left: 0;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
}

.menu-mobile__icons span:nth-child(1) {
  top: 0;
  -ms-transform-origin: left center;
      transform-origin: left center;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
}

.menu-mobile__icons span:nth-child(2) {
  top: 1rem;
  -ms-transform-origin: left center;
      transform-origin: left center;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
}

.menu-mobile__icons span:nth-child(3) {
  top: 2rem;
  -ms-transform-origin: left center;
      transform-origin: left center;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
}

@media (min-width: 768px) {
  .menu-mobile {
    display: block;
    top: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .menu-mobile {
    position: relative;
    top: 0;
    display: none;
  }
}

.open-menu .header {
  overflow: hidden;
}

.open-menu .menu-mobile {
  transform: translateX(26rem);
  -webkit-transform: translateX(26rem);
  -moz-transform: translateX(26rem);
  -ms-transform: translateX(26rem);
  -o-transform: translateX(26rem);
  transition: .5s ease-in-out;
}

.open-menu .menu-mobile span:nth-child(1) {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  top: 0;
  left: 0.7rem;
}

.open-menu .menu-mobile span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.open-menu .menu-mobile span:nth-child(3) {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  top: 2.5rem;
  left: 0.6rem;
}

.open-menu .nav__push-menu {
  transition: transform .5s ease-in-out;
  -webkit-transition: transform .5s ease-in-out;
  -moz-transition: transform .5s ease-in-out;
  -ms-transition: transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  left: 0;
}

.open-menu .nav__navbar, .open-menu .nav__megamenu {
  position: relative;
  z-index: 3;
}

.nav__push-menu {
  padding: 2rem 0;
  width: 27rem;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  z-index: 9999;
  left: -27rem;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(5deg, #51bcda, #24334a);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.nav__megamenu {
  padding: 1.5rem 0;
  border-top: 1px solid #ffffff;
}

.nav__megamenu ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.megamenu__listitem a {
  color: #ffffff;
}

.megamenu__cate {
  padding: 1rem 1.5rem;
}

.megamenu__cate:before {
  content: '\e90f';
  font-family: 'ui-icons';
  font-size: 14px;
  float: right;
  color: #ffffff;
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}

.megamenu__cate:hover .megamenu__cate--sub, .megamenu__cate:focus .megamenu__cate--sub {
  display: block;
}

.megamenu__cate--sub {
  display: none;
}

.megamenu__cate--items {
  padding: 0.5rem 1.5rem;
}

.megamenu__cate--items:hover .megamenu__cate--subitems, .megamenu__cate--items:focus .megamenu__cate--subitems {
  display: block;
}

.megamenu__cate--item {
  padding: 1rem 1.5rem;
}

.megamenu__cate--subitems {
  display: block;
}

@media (min-width: 992px) {
  .nav__megamenu {
    border-top: 0;
  }
}

@media (min-width: 1200px) {
  .nav__push-menu {
    width: 100%;
    background-color: #b9dfc6;
    padding: 0;
    height: auto;
    position: static;
    overflow-y: visible;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .nav__push-menu .nav-user, .nav__push-menu .mini-cart, .nav__push-menu .nav-wishlist {
    display: none;
  }
  .nav__megamenu {
    position: relative;
    padding: 0;
    z-index: 1000;
  }
  .megamenu__root {
    position: relative;
  }
  .megamenu__listitem::after {
    display: block;
    content: "";
    clear: both;
  }
  .megamenu__listitem a {
    color: #ffffff;
    text-decoration: none;
  }
  .megamenu__cate {
    display: block;
    float: left;
    padding: 1.5rem;
  }
  .megamenu__cate--title {
    text-transform: uppercase;
  }
  .megamenu__cate:before {
    display: none;
  }
  .megamenu__cate:hover, .megamenu__cate:focus {
    background-color: #43c8c0;
  }
  .megamenu__cate:hover:before, .megamenu__cate:focus:before {
    content: "";
    display: block;
    position: absolute;
    -ms-transform: translateX(100%);
        transform: translateX(100%);
    z-index: 99;
    bottom: 0;
    height: 0;
    width: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid #ffffff;
    pointer-events: none;
  }
  .megamenu__cate:hover .megamenu__cate--sub, .megamenu__cate:focus .megamenu__cate--sub {
    position: absolute;
    width: 100%;
    top: 5.1rem;
    left: 0;
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    border: 1px solid #eff3f6;
    background-color: #ffffff;
    z-index: 9;
  }
  .megamenu__cate--items {
    float: left;
    width: 33.33%;
    text-transform: uppercase;
  }
  .megamenu__cate--items a {
    color: #111111;
  }
  .megamenu__cate--subitems {
    display: block;
    position: relative;
    width: 100%;
    margin-left: 1rem;
    padding-top: 0.5rem;
    background-color: #ffffff;
  }
  .megamenu__cate--item {
    padding: 0.5rem 0;
    text-transform: uppercase;
  }
}

.navbar__wrap {
  padding-bottom: 1.5rem;
}

.navbar__push-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.navbar__push-right .block-content {
  display: block;
  background-color: #b9dfc6;
  text-align: center;
  text-decoration: none;
}

.navbar__push-right .navbar__col .ui-icon {
  font-size: 3.2rem;
  display: block;
  color: #ffffff;
}

.navbar__push-right .navbar__col .text {
  display: block;
  max-width: 13rem;
  margin: 0 auto;
  line-height: 1.3;
  color: #ffffff;
}

.navbar__helper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.navbar__helper .block-content {
  display: block;
  background-color: #b9dfc6;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
}

.navbar__helper .navbar__col .ui-icon {
  font-size: 3.2rem;
  display: block;
  color: #ffffff;
}

.navbar__helper .navbar__col .text {
  display: block;
  max-width: 13rem;
  margin: 0 auto;
  line-height: 1.3;
  color: #ffffff;
}

.navbar__col {
  padding-left: .5rem;
  padding-right: .5rem;
  margin-bottom: 1rem;
  width: 50%;
}

@media (min-width: 992px) {
  .navbar__wrap {
    background-color: #24334A;
    width: 100%;
    padding: 0.5rem 0;
  }
  .navbar__push-right .block-content {
    background-color: transparent;
  }
  .navbar__push-right .navbar__col .ui-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1.5rem;
    color: #ffffff;
  }
  .navbar__push-right .navbar__col .text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    line-height: 1.3;
    color: #ffffff;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar__helper .navbar__col .ui-icon {
    font-size: 4rem;
  }
  .navbar__col {
    width: 25%;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .navbar {
    overflow: hidden;
  }
  .navbar__push-right {
    margin-left: 25rem;
  }
  .navbar__push-right .navbar__col .text {
    max-width: 13rem;
  }
  .navbar__col {
    width: 25%;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.newsletter {
  padding: 3rem 0;
}

.newsletter__email .ui-icon {
  display: block;
  text-align: center;
  font-size: 8rem;
  line-height: 0.8;
}

.newsletter__email--desc {
  margin-top: 2rem;
}

.newsletter__email--desc .title {
  text-align: center;
  text-transform: uppercase;
}

.newsletter__subscribe {
  position: relative;
  margin: 1.5rem 0;
}

.newsletter__subscribe--button {
  position: absolute;
  top: 0;
  right: 0;
}

.newsletter__result {
  display: block;
  margin-top: 0.5rem;
  color: #ffffff;
}

@media (min-width: 992px) {
  .newsletter__email {
    display: -ms-flexbox;
    display: flex;
  }
  .newsletter__email .ui-icon {
    display: block;
    text-align: left;
    font-size: 9.5rem;
  }
  .newsletter__email--desc {
    margin-top: 0;
    padding-left: 2rem;
  }
  .newsletter__email--desc .title {
    text-align: left;
  }
  .newsletter__subscribe {
    max-width: 45rem;
  }
}

.star {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-family: 'ui-icons';
  margin-right: 0.5rem;
}

.star:last-child {
  margin-right: 0;
}

.star:before {
  content: '\e97c';
  display: block;
}

.star__under {
  color: #cccccc;
}

.star__visible {
  color: #C3002F;
}

.star__over {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.product {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.product__slider .sub-link {
  position: absolute;
  top: .5rem;
  right: 1.5rem;
  color: #111111;
}

.product__slider .sub-link:after {
  content: '\e90c';
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  font-family: 'ui-icons';
  font-size: 16px;
}

.product__list {
  display: block;
}

.product__list .product__item--footer {
  display: -ms-flexbox;
  display: flex;
}

.product__list .product__item--footer .icon-ui {
  font-size: 1.8rem;
}

.product__list .product__item--footer .text {
  font-size: 1.4rem;
}

.product__list .product__item--footer-addtocard {
  margin-right: .5rem;
}

.product__list .product__item--footer-wishlist {
  margin-right: .5rem;
}

.product__list .product__item--footer-wishlist .text {
  display: none;
}

.product__list .product__item--footer-compare .text {
  display: none;
}

.product__grid {
  display: -ms-flexbox;
  display: flex;
}

.product__grid .product__item--desc {
  display: none;
}

.product__grid .product__item--footer-addtocard {
  display: block;
  text-align: center;
}

.product__item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #eeeeee;
}

.product__item--image {
  overflow: hidden;
  position: relative;
}

.product__item--image .img-fluid {
  transition: all .25s ease;
}

.product__item--title {
  margin-top: 1rem;
}

.product__item--title a {
  color: #111111;
  font-size: 16px;
  line-height: 1.5;
}

.product__item--body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.product__item--rating {
  margin-bottom: 0.5rem;
}

.product__item--prices {
  margin-bottom: 0.5rem;
  display: -ms-flexbox;
  display: flex;
}

.product__item--priceold {
  text-decoration: line-through;
}

.product__item--pricenew {
  color: #C3002F;
}

.product__item--footer .icon-ui {
  font-size: 2.4rem;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.product__item--footer .text {
  padding-left: 1rem;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .product__item--title {
    overflow: hidden;
  }
  .product__item--title a {
    display: block;
    height: 4.5rem;
  }
}

@media (min-width: 992px) {
  .product__list .product__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__list .product__item--image {
    width: 40%;
  }
  .product__list .product__item--body {
    width: 60%;
  }
  .product__list .product__item--footer-wishlist .text {
    display: inline-block;
  }
  .product__list .product__item--footer-compare .text {
    display: inline-block;
  }
  .product__grid {
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .product__list .product__item--footer {
    visibility: visible;
  }
  .product__list .product__item--footer .icon-ui {
    font-size: 2.4rem;
  }
  .product__list .product__item--footer .text {
    font-size: 16px;
  }
  .product__list .product__item--footer-addtocard {
    margin-right: 1.5rem;
  }
  .product__list .product__item--footer-wishlist .text {
    display: inline-block;
  }
  .product__list .product__item--footer-compare .text {
    display: inline-block;
  }
  .product__grid .product__item:hover .product__item--footer {
    visibility: visible;
  }
  .product__grid .product__item--footer {
    visibility: hidden;
  }
  .product__item {
    border: 1px solid transparent;
  }
  .product__item:hover {
    border: 1px solid #eeeeee;
    transition: all .25s ease;
  }
  .product__item:hover .product__item--image .img-fluid {
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
}

.slider {
  margin-bottom: 1.5rem;
}

.slider ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  overflow: hidden;
}

.slider__center .slick-slide {
  padding-left: 1rem;
  padding-right: 1rem;
}

.slider__center .slick-slider {
  background-color: #ffffff;
}

.slider__center .slick-slider:after, .slider__center .slick-slider:before {
  content: "";
  background: #ffffff;
  position: absolute;
  top: 0;
  height: 100%;
  width: 8.5%;
  z-index: 99;
  opacity: .9;
}

.slider__center .slick-slider:after {
  right: -1px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eeeeee 100%);
}

.slider__center .slick-slider:before {
  left: -1px;
  background: linear-gradient(to right, #eeeeee 0%, rgba(255, 255, 255, 0) 100%);
}

.slider__center .slick-arrow.btn {
  background-color: #b9dfc6;
  border-color: #ffffff;
}

.slider__center .slick-arrow.btn:hover, .slider__center .slick-arrow.btn:focus {
  background-color: #cccccc;
}

.slider__center .slick-arrow.arrow-left {
  left: 5.5%;
}

.slider__center .slick-arrow.arrow-right {
  right: 5.5%;
}

.slider__right .slick-list {
  padding: 0;
}

.slider .slick-lazyload-error {
  width: 100%;
  height: 100%;
}

.slider .slick-dots {
  position: absolute;
  margin-right: 2rem;
  margin-bottom: 2rem;
  right: 0;
  bottom: 0;
  padding-left: 0;
}

.slider .slick-dots li {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: .5rem;
  font-size: 0;
  background-color: #b9dfc6;
  border: 0.2rem solid #b9dfc6;
  border-radius: 50%;
  padding: 0;
  width: 1.7rem;
  height: 1.7rem;
}

.slider .slick-dots li button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.slider .slick-dots li:last-child {
  margin-right: 0;
}

.slider .slick-dots li.slick-active {
  border: 0.2rem solid #ffffff;
}

.slider .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 100;
  padding: 0;
  width: 5rem;
  height: 5rem;
}

.slider .slick-arrow .icon-ui {
  color: #ffffff;
  font-size: 2.4rem;
}

.slider .slick-arrow.btn {
  background-color: #b9dfc6;
  border-color: #ffffff;
  margin-bottom: 0;
  box-shadow: 0 0 0 2px #b9dfc6;
}

.slider .slick-arrow.arrow-left {
  left: 1rem;
}

.slider .slick-arrow.arrow-right {
  right: 1rem;
}

.backtotop {
  position: fixed;
  display: block;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: #ffffff;
  box-shadow: 0 0 0 2px #b9dfc6;
  opacity: 1;
  padding: 0;
}

.backtotop .icon-ui {
  display: block;
  text-align: center;
  line-height: 1;
}

.backtotop .text {
  display: block;
  text-transform: capitalize;
  text-align: center;
}

.icon-ui.icon-arrows-up {
  -ms-transform: rotate(-90deg);
      transform: rotateZ(-90deg);
}

@media (min-width: 1200px) {
  .banner__push-right {
    margin-left: 25rem;
  }
}
